<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="CacheODBC" connectionString="DRIVER={InterSystems ODBC};SERVER=192.1.5.217;PORT=1972;DATABASE=HMHCPMLIVE;UID=LIVE:ODBC;PWD=hotwire2011;" />
        <!--<add name="CacheODBCCWS" connectionString="DRIVER={InterSystems ODBC};SERVER=ServerIP;PORT=1972;DATABASE=dataBase/Namespace;UID=SystemCode:Username;PWD=password;"/>-->
        <!--end Cache Connections-->
    </connectionStrings>
    <appSettings>
        <add key="SMTPServer" value="192.1.5.220"/>
        <add key="SMTPPort" value="25"/> <!--usually 25-->
        <add key="SMTPUserName" value=""/> <!--not required-->
        <add key="SMTPPassword" value=""/> <!--not required-->
        <add key="SMTPFromEmailAddress" value="AvatarSupport@hendersonbehavioralhealth.org"/>
        <add key="SMTPToEmailAddress" value="AR_Billing@hendersonbehavioralhealth.org"/>
        <add key="SMTPCreateSWTicket" value="worders@hendersonbehavioralhealth.org"/>
        <add key="NumberOfDaysForBackdate" value="14"/><!--Number of days for a guarantor to be considered backdated, i.e. new effective days is 14 days older than today, 21 days older, etc-->
        <add key="appSWAnywhere1" value="#category Billing"/>
        <add key="appSWAnywhere2" value="#set Branch=Billing"/>
        <add key="appSWAnywhere3" value="#assign AR Billing"/>
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0"/>
    </system.web>
</configuration>